* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background: #242624;
  font-weight: 400;
  font-family: "Roboto Slab", serif;
}

.container {
  width: 90%;
  margin: auto;
}

header {
  background: #393b38;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 10px 10px 10px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 40px;
  padding-top: 25px;
  position: relative;
}

nav a {
  color: #bad6d5;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #bad6d5;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #bad6d5;
  position: absolute;
  top: 0;
  width: 0%;
}

nav a:hover::before {
  width: 100%;
}

section .container {
  position: relative;
  min-width: 50px;
  min-height: 450px;
  display: flex;
  z-index: 1000;
}

section .container .contactinfo {
  position: absolute;
  top: 100px;
  width: 350px;
  height: calc(100% - 80px);
  background: #393b38;
  z-index: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

section .container .contactinfo h2 {
  color: #bad6d5;
  font-size: 24px;
  font-weight: 500;
}

section .container .contactinfo .info {
  position: relative;
  margin: 20px 0;
}

section .container .contactinfo .info li {
  position: relative;
  list-style: none;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
  align-items: flex-start;
}

section .container .contactinfo .info li span:nth-child(1) {
  width: 30px;
  min-width: 30px;
}

section .container .contactinfo .info li span:nth-child(1) img {
  max-width: 100%;
  filter: invert(1);
  opacity: 0.5;
}

section .container .contactinfo .info li span:nth-child(2) {
  color: #bad6d5;
  margin-left: 10px;
  font-weight: 300;
  opacity: 0.5;
}

section .container .contactinfo .info li:hover span:nth-child(1) img,
section .container .contactinfo .info li:hover span:nth-child(2) {
  opacity: 1;
}

section .container .contactinfo .sci {
  position: relative;
  display: flex;
}

section .container .contactinfo .sci li {
  list-style: none;
  margin-right: 15px;
}

section .container .contactinfo .sci li a {
  text-decoration: none;
}

section .container .contactinfo .sci li a img {
  filter: invert(1);
  opacity: 0.5;
}

section .container .contactinfo .sci li:hover a img {
  opacity: 1;
}

section .container .contactForm {
  position: absolute;
  top: 60px;
  padding: 50px 10px 20px 50px;
  background: #bad6d5;
  margin-left: 250px;
  padding-left: 215px;
  width: calc(100% - 700px);
  height: 100%;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
  flex-direction: column;
}

section .container .contactForm h2 {
  color: #bad6d5;
  font-size: 24px;
  font-weight: 500;
}

section .container .contactForm .formBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}

section .container .contactForm .formBox .inputBox {
  position: relative;
  margin: 0 0 15px 0;
}

section .container .contactForm .formBox .inputBox.w50 {
  width: 70%;
}

section .container .contactForm .formBox .inputBox.w100 {
  width: 70%;
}

section .container .contactForm .formBox .inputBox input,
section .container .contactForm .formBox .inputBox textarea {
  width: 70%;
  padding: 5px 0;
  resize: none;
  font-size: 18px;
  font-weight: 150;
  color: black;
  border: none;
  border-bottom: 1px solid #777;
  outline: none;
  background-color: #bad6d5;
}

section .container .contactForm .formBox .inputBox textarea {
  min-height: 120px;
}

section .container .contactForm .formBox .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  transition: 0.5s;
  pointer-events: none;
}

section .container .contactForm .formBox .inputBox input:focus ~ span,
section .container .contactForm .formBox .inputBox textarea:focus ~ span,
section .container .contactForm .formBox .inputBox input:valid ~ span,
section .container .contactForm .formBox .inputBox textarea:valid ~ span {
  transform: translateY(-20px);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ff568c;
}

section .container .contactForm .formBox .inputBox input[type="submit"] {
  position: relative;
  cursor: pointer;
  background: #393b38;
  color: #fff;
  border: none;
  max-width: 150px;
  padding: 12px;
}

section .container .contactForm .formBox .inputBox input[type="submit"]:hover {
  background: #ff568c;
}
